body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

span {
    color: orange;
}

.home-sec {
    display: flex;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
}

.half-wid {
    width: 50%;
    padding-left: 6%;

}

.half-wid-img img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.sec-2 {
    display: flex;
    margin-top: 7rem;

}

.img-2 img {
    width: 80%;
}

.text-2 {
    width: 50%;
}

.dream-big {
    background-image: url(img/dream-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}